*.flash
*.bsf
*.html
*.qws
*.flock
*.rpt
*.done
*.summary
*.smsg
*.qmsg
*.pof
*.sof
*.rbf
*.jdi
*.cdb
*.hdb
*.rdb
*.ddb
*.bak
FPGA/db/*
FPGA/incremental_db/*
FPGA/greybox_tmp/*
FPGA/output_files/*
.qsys_edit
EclipseWorkspace/
QSys/synthesis/*
QSys/QSys/synthesis/*
testbench/work/*
*.S
*.o
*.d
*.a
*.elf
*.map
*.objdump
*.stackdump
*~
\#*\#
*.exe
esp_fw/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
GPATH
GRTAGS
GTAGS
*.pyc
.force_rebuild