*.flock
*.rpt
*.done
*.summary
*.smsg
*.qmsg
*.pof
*.sof
*.rbf
*.jdi
*.cdb
*.hdb
*.rdb
*.ddb
*.bak
db/*
incremental_db/*
greybox_tmp/*
output_files/*
.qsys_edit/*
EclipseWorkspace/
QSys/synthesis/*
QSys/QSys/synthesis/*
testbench/work/*
*.S
*.o
*.d
*.a
*.elf
*.map
*.objdump
*.stackdump
*~
\#*\#
*.exe
esp_fw/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json